<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Article</title>
</head>
<body>
  <h1>게시글 작성</h1>
  <form action="/articles/create/" method="GET">  {% comment %} 사용자의 데이터를 받아서 어딘가로 전달해주기만하는 함수 {% endcomment %}
    <input type="text" name="title">
    <textarea name="content" cols="30" rows="10"></textarea>
    <button type="submit">작성하기</button>
    <a href="/articles/">[돌아가기]</a>
  </form>
</body>
</html>